parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - var/*
        - vendor/*
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
