<div class="report-buttons">
    <span>Скачать отчёт:</span>
    <a href="{{ path('app_report', {format: 'csv'}) }}"  class="btn-report btn-csv">⬇ CSV</a>
    <a href="{{ path('app_report', {format: 'xlsx'}) }}" class="btn-report btn-excel">⬇ Excel</a>
    <a href="{{ path('app_report', {format: 'pdf'}) }}"  class="btn-report btn-pdf">⬇ PDF</a>
</div>
